.panel.panel-default
    .panel-heading
        .navbar
            .navbar-inner
                .container
                    .brand Coligacoes
                    button(type="button")#adicionar-coligacao.btn.btn-default Inserir
    table.visualizadores
        thead
            th
                | Nome
            th
                | CPF
            th
                | Funções
        tbody#lista-coligacoes.table

script#template-lista-coligacoes(type='text/html').
    <tr>
        <td id="nome-coligacao-${id}">${nome}</td>
        <td id="cpf-coligacao-${id}">${cpf}</td>
        <td>
            <button type="button" id="excluir-coligacao-${id}" class="btn btn-default excluir-coligacao">Excluir</button>
            <button type="button" id="editar-coligacao-${id}" class="btn btn-default editar-coligacao">Editar</button>
        </td>
    </tr>

#edicao-coligacao
script#template-edicao-coligacao(type='text/html').
    <div id="modal-edicao-coligacao" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">${titulo}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label>Nome:</label>
                        <input type="text" class="nome-coligacao" value="${nome}"/>
                    </p>
                    <p>
                        <label>CPF:</label>
                        <input type="text" class="cpf-coligacao" value="${cpf}"/>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary ${acao}" id="${ id == "" ? acao : acao + "-" + id }">Salvar</button>
                </div>
            </div>
        </div>
    </div>