.panel.panel-default
    .panel-heading
        .navbar
            .navbar-inner
                .container
                    .brand Eleitores
                    button(type="button")#adicionar-eleitor.btn.btn-default Inserir
    table.visualizadores
        thead
            th
                | Nome
            th
                | CPF
            th
                | Titulo
            th
                | Funções
        tbody#lista-eleitores.table

script#template-lista-eleitores(type='text/html').
    <tr>
        <td id="nome-eleitor-${id}">${nome}</td>
        <td id="cpf-eleitor-${id}">${cpf}</td>
        <td>
            <button type="button" id="excluir-eleitor-${id}" class="btn btn-default excluir-eleitor">Excluir</button>
            <button type="button" id="editar-eleitor-${id}" class="btn btn-default editar-eleitor">Editar</button>
        </td>
    </tr>

#edicao-eleitor
script#template-edicao-eleitor(type='text/html').
    <div id="modal-edicao-eleitor" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">${titulo}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <label>Nome:</label>
                        <input type="text" class="nome-eleitor" value="${nome}"/>
                    </p>
                    <p>
                        <label>CPF:</label>
                        <input type="text" class="cpf-eleitor" value="${cpf}"/>
                    </p>
                    <p>
                        <label>Titulo:</label>
                        <input type="text" class="titulo-eleitor" value="${cpf}"/>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary ${acao}" id="${ id == "" ? acao : acao + "-" + id }">Salvar</button>
                </div>
            </div>
        </div>
    </div>